<form class="form-container" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
    <h1>Reset Forgot Password</h1>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="text" class="form-control no-outline">
        <div *ngIf="submitted && field.email.errors" class="form-invalid-fields">
          <span *ngIf="field.email.errors.required"> Email is required </span>
        </div>
      </div>
      <div class="form-buttons">
        <button class="default-slrk-btn">
          <span> Continue </span>
        </button>
      </div>
      <div *ngIf="submitted" class="subbmited-true-form">
          <h2>Verify your email</h2>
          <br/>
          <br/>
          <p>Click on the link from email to change your password</p>
      </div>
    </div>
  </form>
  